body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(https://wallpapertag.com/wallpaper/full/d/0/a/826836-download-free-hospital-wallpapers-1920x1080-pictures.jpg);
    margin: 0;
    padding: 0;
}

.header {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

form {
    background-color: #ffffff;
    padding: 30px 50px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button{
    
    display: flex;
    align-items: center;
    background-color: rgb(30, 96, 30);
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    background-color: #0f311c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

tableContainer {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}